
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

button {
    background: none;
    border: 7px solid white;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}