@keyframes in-out {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}