@use "../layout/navigation" as *;
@use "../abstracts/" as *;
@use "../components/loader" as *;
@use "../components/iframe" as *;

.project-cover__darken {
    @media (max-width: 500px) {
        background-size: unset !important;
        background-repeat: unset !important;
    }
}

.complex {
    height: 85%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    z-index: 30;
    .hero-container {
        width: 100%;
    }
}

.complex-container {
    display: grid;
    grid-template-columns:repeat(10,100vw);
    scroll-snap-type: x mandatory;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    z-index: 20;
    @media (max-width: 1400px) {
        overflow-x: auto;
        overflow-y: auto;
    }
}

.complex-foo__navigation-item {
    transition: background-color 1s;
}

.complex-hero {
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
    z-index: 30;
}

.complex-foo {
    z-index: 50;
    position: fixed;
    bottom: 0px;
    height: clamp(1.7rem, 1rem + 3vw, 3rem);
    width: 100vw;
    background-color: map-get($color-map, "red");


    &__navigation {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        padding: 0px;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        &-item {
            $text-color: white;
            color:$text-color;
            font-family: $monty-bold;
            border: 3px solid white;
            @media (max-width: 800px) {
                padding: 1px;
                font-size: 8.5px;
            }
            padding: 3px;
            width: 90%;
            justify-self: center;
            &:hover {
                cursor: pointer;
            }
        }
        &-picture {
            width: 100%;
        }
    }
}
.--active-link {
    background-color: white;
    transition: background .5s;
    color: black !important;
}

.arrow-container {
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100px;
    width: 200px;
    z-index: 120;
    &__arrows {
        width: clamp(1.5rem, 1rem + 2vw, 4rem);
        justify-self: center;
        animation: arrows 7s infinite;
        bottom: 5%;
        position: absolute;

        @media (max-width:1100px) {
            animation: arrows 5s infinite;
        }
    }
    &__mouse {
        width: clamp(1.5rem, 1rem + 1vw, 5rem);
        justify-self: center;
        position: absolute;
        animation: mouse 7s infinite linear;
        animation-delay: 3.5s;
        opacity: 0%;
        bottom: 5%;

        @media (max-width:1100px) {
            display: none;
        }
    }
}

.project-cover {
    max-height: 99%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-align: start;

    &__darken {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: rgba(0, 0, 0, 0.343);
        height: 100%;
        width: 100%;
        place-items: center;
    }

    h2 {
        width: 90%;
        color: white;
        font-family: $monty-extra-italic;
        text-align: center;
        font-size: clamp(1.3rem, 7vw + 1rem, 6rem);
        @media (min-width: 600px) {
            width: 70%;
        }
        @media (min-width: 1100px) {
            width: 60%;
        }
        @media (min-width: 1300px) {
            width: 50%;
        }
        @media (min-width: 1600px) {
            width: 30%;
        }
    }
}

.project-details {
    max-height: 99%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-align: start;
}

.complex-description {

    @media (max-width: 700px) {
        height: 98%;
    }

    height: 93%;
    width: 100vw;
    z-index: 2;
    background-color: #110635;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 2fr 1.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "image" "logos" "description" "cta";
    gap: 0.5rem;
    @media (min-width: 1300px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr 1fr 2fr 1fr;
        grid-template-areas: 
        "title title"
        "image description"
        "image logos"
        "image cta"
        ". .";
    }
}

.button__hero--hide {
    display: none;
 }

.new-project {

    width: 80%;
    margin: 0 auto;
    height: 96vh;
    display: grid;
    place-items: center;
    h3 {
        color: white;
        width: 100%;
        text-align: center;
        font-family: $monty-bold;
    }
    &__add {
        gap: 1rem;
        display: flex;
        width: clamp(100%, 10000px - 50vw, 20%);
        height: clamp(5rem, 5rem + 5vw, 30rem);
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.description__text-container {
    width: 80%;
    margin: 0 auto;
}

.iframe {
    height: 100%;
    position: relative;
    display: grid;
    z-index:10;
    &:hover, &:focus-visible, &:focus-within {
      .iframe-overlay{
        opacity: 0%;
        z-index: -1;
      }
    }
}

.iframe-overlay {
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.891);
    color: white;
    font-family: $monty-bold;
    font-size: 2rem;
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 110%;
    transition: all .4s;

}

@keyframes mouse {
    0% {
        opacity: 0%;
        transform: translateY(-15px);
    }

    10% {
        transform: translateY(15px);
    }

    20% {
        transform: translateY(-15px);
    }

    30% {
        transform: translateY(15px);
    }

    40% {
        transform: translateY(-15px);
    }
    
    50% {
        opacity: 100%;
        transform: translateY(15px);
    }

    60% {
        opacity: 0%
    }


    100% {
        opacity: 0%;
    }
}

@keyframes arrows {
    0% {
        opacity: 0%;
        transform: translateX(-15px);
    }

    10% {
        transform: translateX(15px);
    }

    20% {
        transform: translateX(-15px);
    }

    30% {
        transform: translateX(15px);
    }

    40% {
        transform: translateX(-15px);
    }

    50% {
        opacity: 100%;
        transform: translateX(15px);
    }

    60% {
        opacity: 0%
    }


    100% {
        opacity: 0%;
    }
}


