.c-content {
    .arrow-container {
        position: absolute;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        &__arrows {
            width: clamp(1.5rem, 1rem + 2vw, 4rem);
            justify-self: center;
            animation: arrows 7s infinite;
            bottom: 5%;
            position: absolute;
        }
        &__mouse {
            width: clamp(1.5rem, 1rem + 1vw, 5rem);
            justify-self: center;
            position: absolute;
            animation: mouse 7s infinite linear;
            animation-delay: 3.5s;
            opacity: 0%;
            bottom: 5%;
        }
    }
}

.button__hero--hide {
    display: none;
 }

@keyframes mouse {
    0% {
        opacity: 0%;
        transform: translateY(-15px);
    }

    10% {
        transform: translateY(15px);
    }

    20% {
        transform: translateY(-15px);
    }

    30% {
        transform: translateY(15px);
    }

    40% {
        transform: translateY(-15px);
    }
    
    50% {
        opacity: 100%;
        transform: translateY(15px);
    }

    60% {
        opacity: 0%
    }


    100% {
        opacity: 0%;
    }
}

@keyframes arrows {
    0% {
        opacity: 0%;
        transform: translateX(-15px);
    }

    10% {
        transform: translateX(15px);
    }

    20% {
        transform: translateX(-15px);
    }

    30% {
        transform: translateX(15px);
    }

    40% {
        transform: translateX(-15px);
    }

    50% {
        opacity: 100%;
        transform: translateX(15px);
    }

    60% {
        opacity: 0%
    }


    100% {
        opacity: 0%;
    }
}


