@use "../abstracts/" as *;
@use "../base/reset" as *;

#transitioner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10000;
    transition: opacity .6s;
    opacity: 0;
}

.content {
    font-family: $monty-bold;
    color: white;
    background-color: map-get($color-map, "blue");
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__greeting {
        opacity: 0%;
        font-size: clamp(2rem, 1rem + 2vw, 3rem);
        width: 50%;
        margin: 0 auto;
        animation: revealHide 3s linear;
        opacity: 0%;
        text-align: center;
    }

    &__intro {
        opacity: 0%;
        font-size: clamp(2rem, 1rem + 2vw, 3rem);
        width: clamp(50%, 1rem + 1vw, 70%);
        margin: 0 auto;
        animation: revealHide 3s linear;
        animation-delay: 3s;
    }

    &__main {
        opacity: 0%;
        font-size: clamp(2rem, 1rem + 2vw, 3rem);
        width: clamp(50%, 1rem + 1vw, 70%);
        margin: 0 auto;
        animation: revealHide 3s linear;
        animation-delay: 6s;
    }

    &__nav {
        visibility: hidden;
        opacity: 0%;
        z-index: 1;
        display: grid;
        gap: 2rem;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        width: 100%;
        animation: reveal 3s linear;
        animation-delay: 9s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        .line {display:none}

        @media (max-width: 700px) {
            grid-template-rows: 40fr 1fr 40fr;
            .line {
                display:block;
                background-color: red;
            }
        }


        &-home {
            display: flex;
            align-items: center;
            align-self: start;
            padding: 2rem 2rem;

            a {
                font-size: clamp(1rem, 2vw + 1.75rem, 5rem);
            }
            img {
                width: clamp(1.5rem, 2vw + 2.75rem, 5rem);
                filter: invert(84%) sepia(99%) saturate(5851%) hue-rotate(339deg) brightness(76%) contrast(106%);
            }


        @media (max-width: 700px) {
            align-self: end;
            justify-content: center;
        }
        }

        &-info {
            display: flex;
            align-items: end;
            justify-content: end;
            padding: 2rem 2rem;
            gap: 1rem;
            img {
                width: clamp(1rem, 2vw + 1.75rem, 5rem);
            }
            a {
                font-size: clamp(1rem, 2vw + 1.75rem, 5rem);
            }

        @media (max-width: 700px) {
            align-self: start;
            justify-content: center;
        }
        }

    }
}

.content > * {
    position: absolute;
    place-self: center;    
}

@keyframes revealHide {

    0% {
        opacity: 0%;

    }

    25% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;

    }
    
}

@keyframes reveal { 
    from {
        opacity: 0%;
        visibility: visible;

    }
    to{opacity: 100%;
        visibility: visible;}
}
    
