@use "../abstracts/" as *;

:root {
    --borderWidth: 3px;
}

body {
    background-color: map-get($color-map, "blue");
}

.options {transition: opacity .7s; opacity: 0;}

#transitioner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10000;
    transition: opacity 1s;
    opacity: 0;
}

.right__prompt {
    transition: opacity .7s;
}


.simple-container {

    display: grid;
    grid-template-rows: 1.2fr 20fr;
    grid-template-columns: 1fr;
    height: 100vh;
    position: relative;

    @media (min-width: 1300px) {
        grid-template-rows: 20fr 1.2fr;
    }
}


.project__text {
    font-family: $monty-bold-italic;
    color: white;
    text-align: center;
    display: none;
    @media (min-width: 1300px) {
        display: block;
    }
    align-self: center;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: "";
        top: 47.5%;
        height: 5%;
        width: 41%;
        background-color: white;
    }

    &::after {
        position: absolute;
        display: block;
        content: "";
        top: 47.5%;
        right: 0%;
        height: 5%;
        width: 41%;
        background-color: white;
    }
}

.projects {
    display: grid;
    position: relative;
    height: 100%;
    padding: 5% 0;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    align-self: center;
    order: 1;
    &__project {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid white;
        border-radius: 3.5vmax;
        color: white;
        font-family: "Montserrat ExtraBold Italic";
        width: 85%;
        margin: 0 auto;
        transition: background-color .4s;
        h5 {
            font-size: clamp(1rem, 1.2vw + .6rem, 4.125rem);
        }
    
        &:hover,&:focus   {
            background-color: map-get($color-map, "red" );
            cursor: pointer;
        }
    
        @media (min-width: 600px) {
            justify-content: left;
            align-items: end;
            h5 {
                margin: .5rem .7rem;
            }
        }

        @media (min-width: 1300px) {
            border-radius: 1vmax;
            align-items: center;
            justify-content: center;
        }
    }

    &__project--new {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(10,15,203,1) 0%, rgba(228,0,68,1) 95%);
        background-size: 300% 300%;
        animation: animatedgradient 7s ease alternate infinite;

        @keyframes animatedgradient {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position: 100% 250%;
            }
            100% {
                background-position: 0% 0%;
            }
        }
        .project__overlay {
            display: flex;
            justify-content: center;
            background-color: map-get($color-map, "blue" );
            width: 96%;
            height: 90%;
            border-radius: 3.5vmax;
            @media (min-width: 700px) {
                width: 97.5%;
            }
            @media (min-width: 1300px) {
                border-radius: 1vmax;
                height: 95%;
            }
        }
        &__image {width: clamp(2.188rem, 3vw + 2rem, 6.25rem);}
    }
   
    @media (min-width: 1300px) {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "first . second"
        "text text text"
        "third addproject fourth";

        #first {grid-area: first;}
        #second {grid-area: second;}
        #third {grid-area: third;}
        #fourth {grid-area: fourth;}
        #fifth {grid-area: addproject;}
        #text {grid-area: text;}
    }   
}


.projects-foo {
    background-color: map-get($color-map, "red");
    display: flex;
    justify-content: center;
    font-family: "Montserrat Bold Italic";
    text-transform: uppercase;
    order: 0;
    @media (min-width: 1300px) {
        order: 1;
    }
}

.foo__home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.foo__home>img {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foo__home>h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: clamp(1.125rem, 1vw + 1rem, 2.5rem);
}

.description {
    position: absolute;
    height: 100%;
    width: 100vw;
    opacity: 0;
    z-index: 2;
    background-color: map-get($color-map, "blue");
    display: none;
    grid-template-rows: 1fr 5fr 1fr 2fr 1.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "image"
    "logos"
    "description"
    "cta";
    gap: .5rem;
    transition: opacity 1.2s;

    &__title {
        color: map-get($color-map, "white");
        font-family: $monty-bold-italic;
        font-size: clamp(1.875rem, 4vw + 1rem, 5rem);
        margin-left: 1rem;
    }

    &__nav {
        margin-top: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: title;
        padding: 0 clamp(2%, 2% + 1vw, 4%);
    }

    &__close {
        border: none;

        img {
            width: clamp(2.5rem, 5vw + 1.75rem, 6.875rem);
        }
        :hover {
            cursor: pointer;
        }
    }

    &__image-container {
        grid-area: image;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        img {
            height: 100%;
            object-fit: scale-down;
            width: 100%;
            @media (min-width: 600px) {
                object-fit: fill;
            }
        }

    }


    &__logos {
        grid-area: logos;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        img {
            height: clamp(2.313rem, 1vw + 2.25rem, 4.188rem);;
            object-fit: cover;
        }

        .logos__info {
            color: white;
            width: 100%;
            display: block;
            text-align: center;
            font-size: 1.5rem;
            @media (max-width: 1300px) {
                display: none;
            }
        }
    }

    &__text-container {
        align-self: center;
        grid-area: description;
        p {
            color: white;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-size: clamp(1rem, 1vw + .3rem, 2.125rem);
            font-family: $monty-regular;

            @media (min-width: 1300px) {
                text-align: left;
            }
        }
        @media (min-width: 1300px) {
            align-self: start;
        }
    }

    &__cta {
        grid-area: cta;
        display: flex;
        justify-content: space-around;
        .cta__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(0.5rem, 1vw - 0.2rem, 1rem);
            img {
                padding-left: clamp(0.625rem, 2vw + 1rem, 1.875rem);
                width: 25%;
            }
            h5 {
                width: 100%;
                color: white;
                font-size: clamp(1.25rem, 2vw + 1rem, 3.125rem);
                font-family: $monty-regular;
                @media (max-width: 300px) {
                    font-size: 1rem;
                }
            }
        }
        @media (min-width: 1300px) {
            align-self: end;
        }
        .play {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 70%;
               
                    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                            animation: heartbeat 1.5s ease-in-out infinite both;
                
            }
        }
    }
    @media (min-width: 1300px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr 1fr 2fr 1fr;
        grid-template-areas: 
        "title title"
        "image description"
        "image logos"
        "image cta"
        ". .";
    }
}

@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  