@font-face {
    font-family: 'Monteserrat Regular';
    src: url("../../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../../fonts/montserrat/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../../fonts/montserrat/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../../fonts/montserrat/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: "Montserrat ExtraBold Italic" ;
    src: url(../../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "Montserrat Bold Italic";
    src: url("../../fonts/montserrat/Montserrat-BoldItalic.ttf");
}

$monty-regular: "Monteserrat Regular";
$monty-medium: "Montserrat Medium";
$monty-bold: "Montserrat Bold";
$monty-black: "Montserrat Black";
$monty-italic: "Montserrat Italic";
$monty-thin :"Montserrat Light";
$monty-extra-italic: "Montserrat ExtraBold Italic";
$monty-bold-italic: "Montserrat Bold Italic";