@font-face {
    font-family: 'Monteserrat Regular';
    src: url("../../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../../fonts/montserrat/Montserrat-Black.ttf");
}


$monty-regular: "Monteserrat Regular";
$monty-medium: "Montserrat Medium";
$monty-bold: "Montserrat Bold";
$monty-black: "Montserrat Black";