@font-face {
    font-family: 'Monteserrat Regular';
    src: url("../../fonts/montserrat/Montserrat-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../../fonts/montserrat/Montserrat-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../../fonts/montserrat/Montserrat-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../../fonts/montserrat/Montserrat-Black.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../../fonts/montserrat/Montserrat-Italic.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../../fonts/montserrat/Montserrat-LightItalic.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat ExtraBold Italic" ;
    src: url(../../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Bold Italic";
    src: url("../../fonts/montserrat/Montserrat-BoldItalic.ttf");
    font-display: swap;
}

$monty-regular: "Monteserrat Regular", "sans-serif";
$monty-medium: "Montserrat Medium", "sans-serif";
$monty-bold: "Montserrat Bold", "sans-serif";
$monty-black: "Montserrat Black", "sans-serif";
$monty-italic: "Montserrat Italic", "sans-serif";
$monty-thin :"Montserrat Light", "sans-serif";
$monty-extra-italic: "Montserrat ExtraBold Italic", "sans-serif";
$monty-bold-italic: "Montserrat Bold Italic", "sans-serif";