@use "../abstracts/font" as f;


:root {
    --primary: #110635;
    --secondary: #c60033;
    --opacity-length: 1s;
  }
  
  .loader-container {
      background-color: black;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      place-items: center;
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding:0;
      color: white;
      .loader {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 6rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        align-self: flex-end;
      }
      position: absolute;
      z-index: 50;
      transition: opacity var(--opacity-length);
  }
  
  .text {
      align-self: start;
      font-size: .7rem;
      font-family: f.$monty-bold;
      font-size: 2rem;
      padding-top: 2rem;
      padding-left: .5rem;
  }

  .description {
    position: absolute;
    bottom: 0px;

    font-family: f.$monty-bold;
    font-size: 1rem;

    padding-bottom: .5rem;

    &--red {
      color: var(--secondary);
      margin:0;
      padding:0;
    }
    @media (max-width: 400px ) {
      width: 90%;      
      margin: 0 auto;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
  
  body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  
    .loader:before,
    .loader:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      animation: pulsOut 1.5s ease-in-out infinite;
      filter: drop-shadow(0 0 1rem var(--primary));
    }
    .loader:before {
      width: 100%;
      padding-bottom: 100%;
      box-shadow: inset 0 0 0 1rem var();
      animation-name: pulsIn;
    }
    .loader:after {
      width: calc(100% - 2rem);
      padding-bottom: calc(100% - 2rem);
      box-shadow: 0 0 0 0 #fff;
    }
  
    @keyframes pulsIn {
      0% {
        box-shadow: inset 0 0 0 1rem var(--secondary);
        opacity: 1;
      }
      50%, 100% {
        box-shadow: inset 0 0 0 0 var(--secondary);
        opacity: 0;
      }
    }
  
    @keyframes pulsOut {
      0%, 50% {
        box-shadow: 0 0 0 0 rgb(196, 8, 8);
        opacity: 0;
      }
      100% {
        box-shadow: 0 0 0 1rem rgb(224, 9, 9);
        opacity: 1;
      }
    }
        