@use "../abstracts" as *;

.right__prompt {
    :hover {cursor: pointer}
    position: relative;
    font-size: clamp(.525rem, 2vw + .1rem, 1rem);
    text-align: center;
    height: clamp(2.125rem, 3vw + 1.75rem, 6.25rem);
    width: clamp(11.125rem, 20vw + 2.75rem, 16.25rem);
    background-color: map-get($color-map, "red");
    display: grid;
    place-items: center;
    color: white;
    font-family: $monty-black;
    h3 {
      font-size: clamp(.4rem, 1vw + .2rem, 1rem);
      width: 90%;
      margin: 0 auto;
    }

&::before {
    display: block;
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid map-get($color-map, "red");
    top: -20px;
    right: 35px;

    @media (max-width: 600px) {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid map-get($color-map, "red");
      right: 15px;
      top: -10px;
    }
  }

  .prompt__close {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: .5rem;
  }
  
}
